<!DOCTYPE html>
<html>
<head>
    <title>Fair Work</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Add one line of code, and Fair Work will ensure that your Mechanical Turk workers are paid at least minimum wage.">

    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="static/bootstrap.js"></script>

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400|Oswald:400,700' rel='stylesheet' type='text/css'>
    <link href="/static/bootstrap.css" rel="stylesheet">
    <link href="/static/msb.css" rel="stylesheet">
</head>

<body>
    <div id="msbnav" class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
	  <div class="navbar-brand">
            <a href=".">Fair Work</a></span>
	  </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-9">
                {% block content %}
                {% endblock %}
            </div> <!-- /col-md-9 -->

            <div class="col-md-3 hidden-sm hidden-xs">
                <div class="vital-info" style="margin-top: 0;">
                    <div><a href="mailto:{{ fairwork_email }}">{{ fairwork_email }}</a></div>
                    <div><a href="https://hci.stanford.edu">Stanford HCI Group</a></div>
                    <div><a href="http://www.github.com/StanfordHCI/fairwork">GitHub source</a></div>
                </div>
              </div>
          </div> <!-- /row -->

      </div> <!-- /container -->
  </body>
</html>
