<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <style>
    .fairworkframe {
      font-family: 'Open Sans'; 'Lato'; 'Helvetica', sans-serif;
      font-size: 10pt;
      color: #777777;
    }

    .fairworkframe a:link, a:visited {
      color: #777777;
    }

    .fairworkframe hr {
      border: 0;
      height: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    .fairwork {
    }

  </style>

  <script>
    (function() {

      // TODO: add timeme.js to track time on page, help worker determine it quickly

      function reportTime() {
        var time = document.getElementById("fairwork-min").value;
        var assignment_id = getUrlParameter("assignmentId");
        var worker_id = getUrlParameter("workerId");
        var hit_id = getUrlParameter("hitId");
        var aws_account = getUrlParameter("aws_account");
        var is_sandbox = getUrlParameter("turkSubmitTo").includes("sandbox");
        var host = is_sandbox ? "mechanicalturk.sandbox.amazonaws.com" : "mechanicalturk.amazonaws.com";
        var estimated_time = document.getElementById("estimatedtimevalue").value;
        var data = {
          'assignment_id': assignment_id,
          'worker_id': worker_id,
          'hit_id': hit_id,
          'host': host,
          'duration': time,
          'aws_account': aws_account,
          'estimated_time': estimated_time
        };

        var http = new XMLHttpRequest();
        var url = "{{ DURATION_URL }}";
        var params = Object.keys(data).map(function(k) {
          return encodeURIComponent(k) + '=' + encodeURIComponent(data[k])
        }).join('&'); // https://stackoverflow.com/a/14525299/2613185

        http.withCredentials = true;
        http.open("POST", url, true);
        http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

        http.onreadystatechange = function() {//Call a function when the state changes.
            if(http.readyState == 4 && http.status == 200) {
                // success
                console.log("Logged Time Duration")
            }
        }
        http.send(params);
      }

      // From Stack Overflow: https://stackoverflow.com/a/21903119/2613185
      function getUrlParameter(sParam) {
        var sPageURL = decodeURIComponent(window.location.search.substring(1)),
            sURLVariables = sPageURL.split('&'),
            sParameterName,
            i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : sParameterName[1];
            }
        }
      }

      // Taken from underscore.js (MIT License)
      // Returns a function, that, as long as it continues to be invoked, will not
      // be triggered. The function will be called after it stops being called for
      // N milliseconds. If `immediate` is passed, trigger the function on the
      // leading edge, instead of the trailing.
      function debounce(func, wait, immediate) {
        var timeout, result;

        var later = function(context, args) {
          timeout = null;
          if (args) result = func.apply(context, args);
        };

        var debounced = restArgs(function(args) {
          if (timeout) clearTimeout(timeout);
          if (immediate) {
            var callNow = !timeout;
            timeout = setTimeout(later, wait);
            if (callNow) result = func.apply(this, args);
          } else {
            timeout = delay(later, wait, this, args);
          }

          return result;
        });

        debounced.cancel = function() {
          clearTimeout(timeout);
          timeout = null;
        };

        return debounced;
      }

      // Taken from underscore.js (MIT License)
      // Similar to ES6's rest param (http://ariya.ofilabs.com/2013/03/es6-and-rest-parameter.html)
      // This accumulates the arguments passed into an array, after a given index.
      var restArgs = function(func, startIndex) {
        startIndex = startIndex == null ? func.length - 1 : +startIndex;
        return function() {
          var length = Math.max(arguments.length - startIndex, 0),
              rest = Array(length),
              index = 0;
          for (; index < length; index++) {
            rest[index] = arguments[index + startIndex];
          }
          switch (startIndex) {
            case 0: return func.call(this, rest);
            case 1: return func.call(this, arguments[0], rest);
            case 2: return func.call(this, arguments[0], arguments[1], rest);
          }
          var args = Array(startIndex + 1);
          for (index = 0; index < startIndex; index++) {
            args[index] = arguments[index];
          }
          args[startIndex] = rest;
          return func.apply(this, args);
        };
      };

      // Taken from underscore.js (MIT License)
      // Delays a function for the given number of milliseconds, and then calls
      // it with the arguments supplied.
      var delay = restArgs(function(func, wait, args) {
        return setTimeout(function() {
          return func.apply(null, args);
        }, wait);
      });

      function setLastTime(duration) {
        var last = document.getElementById('lasttimelink');
        last.innerHTML = "Last HIT time: " + duration + " minute" + (duration == 1 ? "" : "s");
        last.onclick = function() {
          document.getElementById('fairwork-min').value = duration;
          reportTime();
        }
        last.style.display = "block";
      }

      function receiveMessage(event) {
        if ((event.origin === "https://workersandbox.mturkcontent.com" || event.origin === "https://mturkcontent.com") && event.data['status'] === "estimatedTime") {
          console.log(event.data['value'])
          updateEstimatedTime(event.data['value']);
        }
      }

      function updateEstimatedTime(estimated) {
        var minutes = estimated / 60;
        var roundedMinutes = Math.floor(minutes);
        if (estimated % 60 >= 30) {
          roundedMinutes = roundedMinutes + 0.5;
        }
        var estimatedTime = document.getElementById('estimatedtimelink')
        estimatedTime.innerHTML = 'Estimated time: ' + roundedMinutes + ' minute' + (roundedMinutes == 1 ? "" : "s");

        var estimatedTimeValue = document.getElementById('estimatedtimevalue')
        estimatedTimeValue.value = roundedMinutes

        estimatedTime.onclick = function() {
          document.getElementById('fairwork-min').value = roundedMinutes;
          reportTime();
        }
      }

      function irbAgreement() {
        var worker_id = getUrlParameter("workerId");
        var agreement = document.getElementById("irb-agreed").checked;
        var data = {
          'worker_id': worker_id,
          'agreement': agreement
        };

        var http = new XMLHttpRequest();
        var url = "{{ IRB_URL }}";
        var params = Object.keys(data).map(function(k) {
          return encodeURIComponent(k) + '=' + encodeURIComponent(data[k])
        }).join('&'); // https://stackoverflow.com/a/14525299/2613185

        http.withCredentials = true;
        http.open("POST", url, true);
        http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

        http.onreadystatechange = function() {//Call a function when the state changes.
            if(http.readyState == 4 && http.status == 200) {
                // success
            }
        }
        http.send(params);
      }

      function toggleTimeForm() {
        var checkbox = document.getElementById("irb-agreed");
        var form = document.getElementById("time-form");

        if (checkbox.checked == true) {
          form.style.display = "block";
        } else {
          form.style.display = "none";
        }

        irbAgreement();
      }

      function showIRBConsent() {
        document.getElementById('irb').style.display = 'block';
      }


      // Equivalent of $(document).ready
      document.addEventListener("DOMContentLoaded", function(event) {

        // Register the HIT
        var assignment_id = getUrlParameter("assignmentId");
        var worker_id = getUrlParameter("workerId");
        var hit_id = getUrlParameter("hitId");
        var aws_account = getUrlParameter("aws_account");
        var turk_submit_to = getUrlParameter("turkSubmitTo");

        if (assignment_id == 'ASSIGNMENT_ID_NOT_AVAILABLE') {
          // preview mode
          return;
        } else if (assignment_id == null) {
          console.error("Fair Work: assignmentId missing from parameters");
          return;
        } else if (worker_id == null) {
          console.error("Fair Work: workerId missing from parameters");
          return;
        } else if (hit_id == null) {
          console.error("Fair Work: hitId missing from parameters");
          return;
        } else if (aws_account == null) {
          console.error("Fair Work: aws_account missing from parameters");
          return;
        } else if (turk_submit_to == null) {
          console.error("Fair Work: turkSubmitTo missing from parameters");
          return;
        }

        var is_sandbox = turk_submit_to.includes("sandbox");
        var host = is_sandbox ? "mechanicalturk.sandbox.amazonaws.com" : "mechanicalturk.amazonaws.com";
        var data = {
          'assignment_id': assignment_id,
          'worker_id': worker_id,
          'hit_id': hit_id,
          'host': host,
          'aws_account': aws_account
        };

        // Filter out the undefined parts of the data
        data = Object.keys(data)
        .filter(key => data[key] != null)
        .reduce((obj, key) => {
          obj[key] = data[key];
          return obj;
        }, {});

        var http = new XMLHttpRequest();
        var url = "{{ CREATE_HIT_URL }}";
        var params = Object.keys(data).map(function(k) {
          return encodeURIComponent(k) + '=' + encodeURIComponent(data[k])
        }).join('&'); // https://stackoverflow.com/a/14525299/2613185

        //http.withCredentials = true;
        http.open("POST", url, true);
        http.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

        http.onreadystatechange = function() {//Call a function when the state changes.
            if(http.readyState == 4 && http.status == 200) {
                var result = JSON.parse(http.responseText)

                // TODO: turn this into a promise architecture
                // On success, get the most recent time report and autopopulate it
                var httpRecent = new XMLHttpRequest();
                var recentUrl = "{{ MOST_RECENT_REPORT_URL }}";
                var recentParams = Object.keys(result).map(function(k) {
                  return encodeURIComponent(k) + '=' + encodeURIComponent(result[k])
                }).join('&'); // https://stackoverflow.com/a/14525299/2613185
                httpRecent.open("POST", recentUrl, true);
                httpRecent.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                httpRecent.onreadystatechange = function() {//Call a function when the state changes.
                    if(httpRecent.readyState == 4 && httpRecent.status == 200) {
                      // success
                      var response = JSON.parse(httpRecent.responseText);
                      if (response['duration']) {
                        var duration = moment.duration(response['duration']).asMinutes();
                        setLastTime(duration);
                      }
                    }
                }
                httpRecent.send(recentParams);
            }
        }
        http.send(params);

        var irb = "{{ IRB_AGREEMENT }}";

        if ( irb === "True" ) {
          document.getElementById('irb').style.display = 'none';
          document.getElementById('consent').style.display = 'none';
          document.getElementById('time-form').style.display = 'block';
        } else {
          document.getElementById('irb').style.display = 'block';
          document.getElementById('consent').style.display = 'block';
          document.getElementById('time-form').style.display = 'none';
        }

        // Listen for TimeMe messages
        window.addEventListener("message", receiveMessage, false);

        // Now that we've registered the HIT, start listening for timing data
        document.getElementById("fairwork-min").addEventListener("keyup", debounce(reportTime, 250));

        document.getElementById("irb-agreed").addEventListener("change", toggleTimeForm);

        document.getElementById("show-IRB").addEventListener("click", showIRBConsent);
      });

    })();

  </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
</head>

<body>
  <div class='fairworkframe'>
    <hr>
    <div class='fairwork'>
      <p><strong>Get paid fairly:</strong> This requester is using the <a href="{{ FAIRWORK_DOMAIN }}" target="_blank">Fair Work script</a> to bring pay rates up to the minimum wage of ${{MIN_WAGE}}/hr</a>. Fair Work does this by measuring completion times and then auto-bonusing workers to meet the desired hourly wage if needed.</p>

      <p>Please report how much active work time this task took you, rounded to the nearest half minute. If you are far off from the median time report across all workers for this task, indicating a lack of good-faith estimation, you may be removed from Fair Work bonus eligibility. Bonuses are sent out daily. By participating, you acknowledge and consent to the <a id="show-IRB" href="#">Fair Work IRB</a>.</p>

      <div id="irb">
        {% include WORKER_IRB %}
      </div>

      <div id="consent">
        <label>
          <b>I agree to the IRB:</b>
        </label>
        <input type="checkbox" name="irb-agreement" id="irb-agreed">
      </div>

      <form id='time-form'>
        <div>
          <input id='fairwork-min' name='fairwork-min' type='text' /> minutes (e.g., 1.5, 2, 60)
        </div>
        <div>
          <span id="estimatedtime">
            <input type="hidden" id="estimatedtimevalue">
            <a id="estimatedtimelink" href="#">Estimated time: 0 minutes</a>
          </span>
        </div>
        <div>
          <span id="lasttime">
            <a id="lasttimelink" href="#" style="display: none;">Last HIT time</a>
          </span>
        </div>
      </form>
    </div>
  </div>
</body>
</html>
