.fairworkframe {
  /*
  * Reset all CSS inherited from the rest of the task
  */
  all: initial;
  * {
    all: unset;
  }
}

.fairworkframe hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.fairwork {
  font-family: 'Open Sans'; 'Lato'; 'Helvetica', sans-serif;
  font-size: 10pt;
  color: #777777;
}

.fairwork a:link, a:visited {
  color: #777777;
}
