<div class='fairworkframe'>
  <hr>
  <div class='fairwork'>
    <p><strong>Get paid fairly:</strong> This requester is using the Fair Work script to bring pay rates up to the minimum wage specified in the <a href='http://guidelines.wearedynamo.org/'>Turker-authored We Are Dynamo guidelines</a>. Fair Work does this by measuring completion times and then auto-bonusing workers to meet the desired hourly wage if needed.</p>

    <p>Please report how much active work time this task took you, rounded to the nearest half minute. If you are far off from the median time report across all workers for this task, indicating a lack of good-faith estimation, you may be removed from Fair Work bonus eligibility. Any needed bonuses are sent out daily.</p>

    <form>
      <p><input id='fairwork-min' name='fairwork-min' type='text' /> minutes (e.g., 1.5, 2, 60)</p>
    </form>
  </div>
</div>
