{% extends 'base.html' %}

{% block content %}

  <h4>Freeze payments to worker {{ worker.id }}</h4>

  <p>Freezing payments will pause a Fair Work bonus payment from being sent to a worker. This can be highly disruptive to the worker, so should only be used in extreme cases where collusion, malice, or substantial error is suspected. Freezing will send a message to the worker, and they will be encouraged to reach out to you to resolve the situation.</p>

  
  <p>
    {% if frozen %}
      <form action="" method="post">
        {% csrf_token %}
        <button type="submit" name="delete" class="btn btn-default">
          Unfreeze payments
        </button>
      </form>
    {% else %}
      <button class="btn btn-default" data-toggle="modal" data-target="#freezeModal">
        Freeze payments
      </button>
    {% endif %}
    {{ frozen }}
  </p>

  {% for status, hittype_durations in status_durations.items %}

    {% if status == 'pending' %}
    <h5>Pending Fair Work payments</h5>
    {% elif status == 'completed' %}
    <h5>Completed Fair Work payments</h5>
    {% endif %}

    {% for hittype, hittype_median_durations in hittype_durations.items %}
      <p>
        HIT Type {{hittype.id}}
        <ul>
          {% for cur_worker, cur_worker_median_duration in hittype_median_durations.items %}
          <li>
            {% if cur_worker.id == worker.id %}
              <span class="highlight-text">{{ cur_worker.id }}</span>'s
            {% else %}
              {{ cur_worker.id }}'s
            {% endif %}

            median report: {{ cur_worker_median_duration }}</li>
          {% endfor %}
          {% if hittype_median_durations.keys|length == 1 %}
          <li>No other workers submitted time reports for this task</li>
          {% endif %}
        </ul>
      </p>
    {% endfor %}
  {% endfor %}

  <div class="modal fade" id="freezeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Freeze payments to worker {{ worker.id }}</h4>
        </div>
        <div class="modal-body">
          <p>Freezing payments will prevent bonuses from being sent to this worker, and will remove the worker's time estimates from any of your currently pending and future tasks.</p>
          <p>We encourage you to engage with a dialog with the worker to resolve the issue. Please state the reason for your freeze, which will be sent to the worker to begin the conversation.</p>
          <form action="" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" name="create" value="Submit">
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary">Freeze payments</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

{% endblock %}
