{% extends 'base.html' %}

{% block content %}

  {% if error_message %}<div class="alert alert-warning"><p>{{ error_message }}</p></div>{% endif %}

  <p>To use Fair Work, we need to know your Amazon AWS credentials. If you don't know what these are, or need to create them, <a href="https://blog.mturk.com/tutorial-setting-up-your-aws-account-to-make-use-of-mturks-api-4e405b8fc8cb">follow Mechanical Turk's tutorial</a>. This information is encrypted in our database. After you enter your credentials below, we will return the JavaScript code you can include in your HIT to enable Fair Work.</p>

  <p style="margin-top: 1em;">Fair Work is a research project at Stanford University. By entering your information here, you acknowledge and consent to our IRB procedures.</p>

  <div id="irb">
    <p>Fair Work is a research project run by the <a href="http://hci.stanford.edu/" target="_blank" style="color: rgb(81, 167, 249);">Stanford HCI Group</a>.</p>

    <p><b>Description</b>: Fair Work is a research system focused on fair pay for online workers. You can participate by using the Fair Work Javascript. The system will ask you for your AWS keys, and will display a timer self-report for workers in your tasks. Worker reponses will be aggregated and the system will use your AWS keys to automatically bonus workers to ensure that they earned minimum wage. It will log items such as your HIT IDs, worker submissions for your HITs, and worker time self-reports. Your AWS keys and email will be stored encrypted, and only decrypted by the server when needed to perform these functions. Data will not be shared with anyone outside our research team. If you do not want our system escrowing your keys or tracking data or self reports for your tasks, you may run <a href="https://github.com/StanfordHCI/fairwork">an open-source version of the platform available on GitHub</a>.</p>

    <p><b>Time Involvement</b>: You can participate for as long as you want by keeping the Javascript on your HITs.</p>

    <p><b>Risks and Benefits</b>: Fair Work will spend money from your AWS account to bonus workers. This may accumulate to a substantial amount of money. We cannot and do not guarantee or promise that you will receive any benefits from using Fair Work.</p>

    <p><b>Subject's Rights</b>: If you have read this form and have decided to participate in this project, please understand your participation is voluntary and you have the right to withdraw your consent or discontinue participation at any time without penalty or loss of benefits to which you are otherwise entitled. The alternative is not to participate. You have the right to remove our code from your HITs at any time. Your individual privacy will be maintained in all published and written data resulting from the study.</p>

    <p><b>Contact Information</b>: If you have any questions, concerns or complaints about this research, its procedures, risks and benefits, contact the Fair Work team at <a href="mailto:fairwork@cs.stanford.edu">fairwork@cs.stanford.edu</a>.</p>

    <p><b>Independent Contact</b>: If you are not satisfied with how this study is being conducted, or if you have any concerns, complaints, or general questions about the research or your rights as a participant, please contact the Stanford Institutional Review Board (IRB) to speak to someone independent of the research team at (650)-723-2480 or toll free at 1-866-680-2906. You can also write to the Stanford IRB, Stanford University, 3000 El Camino Real, Five Palo Alto Square, 4th Floor, Palo Alto, CA 94306.</p>

    <p>You may print or save a copy of this page for your records.</p>
  </div>

  <form action="{% url 'keys' %}" method="post" autocomplete="off" class="signup">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <input type="submit" value="Get Fair Work script" />
  </form>


{% endblock %}
