<div style="padding-left: 2em; border-left: 5px solid #eee;">
  <!--- DO NOT CHANGE; MUST BE INCLUDED -->
  <p>This is not the official Stanford Fair Work deployment. This copy of Fair Work is run by: {{ fairwork_name }}, <a href="{{ fairwork_email }}">{{ fairwork_email }}</a>.</p>

  <p>This is a separate instance of the <a href="http://www.github.com/StanfordHCI/fairwork">Fair Work code</a> run by an independent researcher. Running a separate instance is legitimate (a researcher may not want Stanford to hold a hashed copy of their keys), however it does not allow Stanford's Fair Work team to manage or intervene. Please do not contact Stanford about this deployment; it is governed by this researcher's IRB instead.</p>
  <!--- END DO NOT CHANGE --->

  <p>INSERT YOUR IRB WORKER AGREEMENT HERE</p>
</div>
