asn1crypto==0.24.0
boto3==1.7.3
botocore==1.10.3
cffi==1.11.5
cryptography==2.2.2
dj-database-url==0.5.0
Django==2.0.4
django-cors-headers==2.2.0
django-fernet-fields==0.5
django-heroku==0.3.1
docutils==0.14
gunicorn==19.7.1
idna==2.6
jmespath==0.9.3
psycopg2==2.7.4
pycparser==2.18
python-dateutil==2.6.1
pytz==2018.3
s3transfer==0.1.13
six==1.11.0
whitenoise==3.3.1
